[flake8]
# see https://flake8.pycqa.org/en/latest/user/configuration.html
# ignore = default + E501
# see https://pep8.readthedocs.io/en/latest/intro.html#error-codes_
ignore = E121, E123, E126, E133, E226, E241, E242, E704, W503, W504, W505, E501
max-complexity = 10
exclude =
  .git,
  .venv,
  .eggs
